<md-dialog-content>
  <div class="prod-newo">
  <form class="prod-fiel" [formGroup]="work">
    <div class="card-tool">
      <button md-button class="uplo-phot" color="accent">
        <md-icon>add_a_photo</md-icon>
        <input type="file" name="file" accept="image/*|pdf" multiple (change)="goPhoto($event)">
      </button>
      <md-slide-toggle formControlName="active"> Online</md-slide-toggle>
      <button md-button color="accent" (click)="workDelete()"><md-icon>delete</md-icon></button>      
    </div>
    <div class="flex">
      <md-input-container>
        <input mdInput placeholder="Event" formControlName="event">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Url" formControlName="url">
      </md-input-container>
    </div>
    <md-input-container>
      <input mdInput placeholder="Title" formControlName="title">
    </md-input-container>
    <md-input-container class="flex2">
      <textarea mdInput rows="10" placeholder="Description" formControlName="description"></textarea>
    </md-input-container>
  </form>
  <div class="prod-uplo">
    <div class="imag-cont">
      <div *ngIf="loading">
        <md-spinner class="spinner"></md-spinner>
      </div>
      <md-radio-group [(ngModel)]="cover">
        <div class="imag-prod" *ngFor="let photo of photos | async;">
          <div class="imag-head">
            <md-radio-button class="imag-cove" vlaue="photo.id" (click)="myCover(photo)">
              <span>cover</span>
            </md-radio-button>
            <button md-icon-button (click)="imgDelete(photo)"><md-icon>delete</md-icon></button>      
          </div>
          <img src="{{baseurl}}work%2F{{photo.id}}?alt=media" alt="">
        </div>
      </md-radio-group>
    </div>
  </div>
  </div>
</md-dialog-content>